//colores
$fondoprincipal : rgb(40, 39, 39);
$fuenteprincipal : #00FFFF;
$fuentesecundaria : black;
$fuentenav : white;
$nav : #00FFFF;
$hover : #FFC300;
$degradado1 : purple;
$degradado2: red;
$techno : #ffde22;
$technodark : #FFD700;
$emd : #ADD8E6;
$emddark : #a2d5e6;
$border : rgb(221, 221, 221);

//Media queries
$telefono : 468px;
$tablet : 769px;
$desktop : 1200px;
$desktopxl : 1400px;